<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static "Base/css/style.css" %}">
    <title>Document</title>
</head>
<body>
    
    {% block content %}
    
    <a href="{% url "Base:home" %}" id="homeBtn" >home</a>

    <h1>{{article.title}}</h1>
    <hr>
    <p>{{article.body}}</p>
    <hr>
    <h5> published at: {{article.created}} by {{request.user}}</h5>
    
    
    {% endblock content %}

</body>
</html>